*:focus {
    outline: none;
    border-color: #005dd6;
    box-shadow: 0 0 0 5px hsla(214, 100.00%, 42.00%, 0.28);
}

@media (hover: hover) and (pointer: fine) {
    .dropdowncontainer:not(:focus):hover {  
        border-top-color: #7d7d7d;
        border-right-color: #7d7d7d;
        border-bottom-color: #7d7d7d;
        border-left-color: #7d7d7d;
    }


    .dropdownoptioncontainer:hover {
      background-color: #f2f2f2;
    }

    #shrinkcustomwiz:hover {
      opacity: 0.2;
    }
}

.selected {
    border-top-color: #005dd6;
    border-bottom-color: #005dd6;
    border-right-color: #005dd6;
    border-left-color: #005dd6;
}

.noHover {
    pointer-events: none;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: transparent;
}

input:focus {
    outline: none;
}

input[type="number"] {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 20px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}